@import 'normalize.css';

:root {
    // Variables

    // default
    --default-header-height: 60px;
    --default-layout-width: 1150px;
    --default-sidebar-width: 356px;

    --primary: rgba(254, 44, 85, 1);

    --text-color: #fff;

    // Spacer
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

button,
input,
[tabIndex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
